@use '../global/vars' as *;

.footer {
    background-color: #F3F3F3;
    border: 1px solid #EBEBEB;
    color: $dark-color;
    font-weight: 500;

    &__top {
        padding-top: 54px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px 20px;
    }

    &__menu {
        flex-basis: 288px;
    }

    &__menu-list {
        display: grid;
        grid-template-columns: 130px 130px;
        row-gap: 14px;
        justify-content: space-between;
    }

    &__menu-link {

        @media (any-hover: hover) {
            transition: color .3s;

            &:hover {
                color: $accent-color;
            }
        }
    }

    &__content {
        flex-basis: 670px;
        display: flex;
        justify-content: space-between;
        gap: 20px 10px;
    }

    &__schedule {
        padding-left: 25px;
    }

    &__address {
        max-width: 180px;
    }

    &__phones {
        line-height: 1.4;
        padding-left: 25px;

        &::before {
            width: 16px;
            height: 16px;
        }

        .phone-list__item {
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }

    &__copy {
        font-size: 14px;
        font-weight: 400;
        padding-block: 23px;
        text-align: right;
        color: #5c5c5c;
    }
}

@media (max-width: 1040px) {
    .footer {
        &__top {
            flex-wrap: wrap;
        }

        &__logo {
            margin-inline: auto;
        }

        &__content {
            flex-basis: 100%;
            justify-content: space-around;
        }

        &__menu {
            margin-inline: auto;
            flex-basis: 600px;
        }

        &__menu-list {
            row-gap: 0;
            gap: 10px 30px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__copy {
            text-align: center;
        }
    }
}

@media (max-width: 700px) {
    .footer {
        &__logo {
            margin-inline: auto;
        }

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__address {
            max-width: 100%;
        }
    }
}