@use '../global/vars' as *;

.header {
    font-weight: 500;
    color: $dark-color;
    position: relative;
    z-index: $z-header;

    &__top {
        background-color: #F9F8F8;
        font-size: 14px;
    }

    &__top-inner {
        margin-left: auto;
        max-width: 1117px;
        padding-block: 10px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 20px;

        @media (max-width: 700px) {
            align-items: center;
            column-gap: 10px;
        }
    }

    &__phones {
        display: flex;
        column-gap: 10px;

        @media (max-width: 700px) {
            display: none;
        }
    }

    &__schedule {
        display: flex;
        column-gap: 17px;
        padding-left: 21px;

        @media (max-width: 1000px) {
            display: none;
        }
    }

    &__content {
        background-color: #fff;
        border: 1px solid #F3F3F3;
    }

    &__content-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: clamp(1.25rem, -21.082rem + 37.34vw, 10.188rem);

        position: relative;
        min-height: 60px;
        padding-left: 190px;
        padding-block: 5px;

        @media (max-width: 700px) {
            padding-left: 0;
        }
    }

    &__logo {
        position: absolute;
        top: -14px;
        left: 0;

        @media (max-width: 700px) {
            position: static;
        }
    }

    &__logo-img {
        @media (max-width: 700px) {
            height: 50px;
        }
    }

    &__question {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        column-gap: 5px;

        @media (any-hover: hover) {
            &:hover {
                .header__question-text {
                    &::after {
                        opacity: 1;
                    }

                    color: #000;
                }

                .header__question-img {
                    transform: rotate(20deg) scale(1.2);
                }
            }
        }

        @media (max-width: 700px) {
            margin-left: auto;
        }

        @media (max-width: 350px) {
            display: none;
        }
    }

    &__question-img {
        transition: transform .3s;
    }

    &__question-text {
        @media (any-hover: hover) {
            transition: color .3s;
            position: relative;
            isolation: isolate;

            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background-color: #F4FFAD;
                opacity: 0;
                pointer-events: none;
                transition: opacity .3s;

                position: absolute;
                bottom: 0;
                z-index: $z-header__question-line;
            }
        }
    }
}