@use '../global/vars' as *;

.header {
    font-weight: 500;
    color: $dark-color;

    &__top {
        background-color: #F9F8F8;
        font-size: 14px;
    }

    &__top-inner {
        margin-left: auto;
        max-width: 1117px;
        display: flex;
        justify-content: space-between;
        padding-block: 10px;
    }

    &__address {}

    &__address-img {}

    &__phones {
        display: flex;
        column-gap: 10px;
    }

    &__schedule {
        display: flex;
        column-gap: 17px;
        padding-left: 21px;
    }

    &__schedule-img {}

    &__schedule-item {}

    &__content {
        border: 1px solid #F3F3F3;
    }

    &__content-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        min-height: 60px;
    }

    &__logo {
        position: absolute;
        top: -14px;
        left: 0;
    }

    &__menu {
        margin-left: 295px;
    }

    &__question {
        display: flex;
        align-items: center;
        column-gap: 5px;

        @media (any-hover: hover) {
            &:hover {
                .header__question-text {
                    &::after {
                        opacity: 1;
                    }

                    color: #000;
                }

                .header__question-img {
                    transform: rotate(20deg) scale(1.2);
                }
            }
        }
    }

    &__question-img {
        transition: transform .3s;
    }

    &__question-text {
        @media (any-hover: hover) {
            transition: color .3s;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background-color: #F4FFAD;
                opacity: 0;
                pointer-events: none;
                transition: opacity .3s;

                position: absolute;
                bottom: 0;
                z-index: -1;
            }
        }
    }
}

.phone-list {
    padding-left: 22px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 13px;
        aspect-ratio: 1;

        background-image: url('../img/icons/phone.svg');
        background-size: contain;
        background-repeat: no-repeat;

        position: absolute;
        left: 0;
        top: 2px;
    }

    &__item {}

    &__item:not(:first-child) {
        padding-left: 13px;
        position: relative;

        &::before {
            content: '';
            width: 4px;
            aspect-ratio: 1;
            background-color: $accent-color;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    &__link {
        transition: color .3s;

        &:hover {
            color: $accent-color;
        }
    }
}

.menu {

    &__list {
        display: flex;
        column-gap: 55px;
    }

    &__item {
        &.active {
            padding-left: 34px;
            position: relative;
            color: #000;

            &::before {
                content: '';
                width: 20px;
                aspect-ratio: 1;
                background-image: url('../img/icons/fish.svg');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
            }
        }
    }

    &__link {
        transition: color .3s;

        @media (any-hover: hover) {
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 4px;
                width: 100%;
                background-color: #F4FFAD;
                opacity: 0;
                pointer-events: none;
                transition: opacity .3s;

                position: absolute;
                bottom: 0;
                z-index: -1;
            }

            &:hover {
                color: #000;
            }

            &:hover::after {
                opacity: 1;
            }
        }
    }
}