@use 'vars' as *;

html,
body {
    height: 100%;
}

body {
    font-family: 'FuturaPT', sans-serif;
    line-height: 1.25;
    font-weight: 400;
    color: $text-color;

    &.lock {
        overflow: hidden;
    }
}

.container {
    width: min(100% - rem(30), rem(1310));
    margin-inline: auto;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    overflow-x: hidden;
}